In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('Test_dataset.xlsx')

In [3]:
df["Population [2011]"].isnull().sum()

6

In [4]:
del df["Popuation [2001]"]

In [5]:
df[df["Population [2011]"].isnull()]

,City,State,Type,Population [2011],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors
169,Lal Gopalganj Nindaura,Uttar Pradesh,N.P,NaN,NaN,NaN,NaN,NaN,58.0,116.0,0.072044,24752.0,22.0,3104060.0
189,Sindhagi,Karnataka,T.M.C,NaN,NaN,NaN,NaN,MEDIUM,94.0,139.0,0.398114,25846.0,10.0,636502.0
190,Sanduru,Karnataka,T.P,NaN,NaN,NaN,NaN,HIGH,60.0,105.0,0.042093,26095.0,20.0,636502.0
191,Sohna,Haryana,M.C,NaN,NaN,NaN,NaN,HIGH,95.0,188.0,0.380379,23021.0,15.0,303118.0
192,Manavadar,Gujarat,M,NaN,NaN,NaN,NaN,HIGH,69.0,122.0,0.489085,23236.0,21.0,284973.0
500,Kumarganj,Uttar Pradesh,C.T,NaN,863.0,24.0,35.0,HIGH,19.0,149.0,0.154375,0.0,6.0,3104060.0

In [6]:
df.iat[169,3]=28288
df.iat[169,4]=942

In [7]:
df.iat[189,3]=37213
df.iat[189,4]=952

In [8]:
df.iat[190,3]=27614
df.iat[190,4]=973

In [9]:
df.iat[191,3]=53962
df.iat[191,4]=790

In [10]:
df.iat[192,3]=30850
df.iat[192,4]=938

In [11]:
df.iat[500,3]=169102

In [14]:
df["Type"].unique()

array(['T.C', 'T.M.C', 'M.Cl.', 'M.Cl', 'N.P.', 'UA', 'M', 'N.T',
       'T.M.C.', 'N.P', 'C.T', 'M.B', 'T.C.', 'I.N.A', 'N.P.P', 'N.A',
       'N.A.C', 'M.C', 'M.B.', 'M.C.', 'TP', 'N.P.P.', 'T.P', 'NAC',
       'T.P.', 'G.P', 'C.T.', 'NP', 'M&F', nan, 'CT', 'G.P.', 'N.A.C.'],
      dtype=object)

In [12]:
df[df["Type"].isnull()]

,City,State,Type,Population [2011],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors
428,Srirampore,West Bengal,NaN,19500.0,953.0,24.0,37.0,HIGH,62.0,175.0,0.157481,18584.0,30.0,1489500.0
475,Naura,Punjab,NaN,7500.0,881.0,23.0,38.0,HIGH,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df.iat[428,2]="T.P"
df.iat[475,2]='G.P.

In [89]:
df.isnull().sum()

City                  0
State                 0
Type                  0
Population [2011]     6
Sex Ratio             0
Median Age           13
Avg Temp             14
SWM                   9
Toilets Avl          22
Water Purity         19
H Index              15
Female Population    15
# of hospitals       17
Foreign Visitors     17
dtype: int64